<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.IEurDAO">
    <resultMap id="eur" type="com.solvd.model.Eur">
        <id property="id" column="id"/>
        <result property="banknote" column="banknote"/>
        <result property="quantity" column="quantity"/>
       
    </resultMap>
    <select id="getQuantityByBanknoteEUR" resultMap="eur">
        select banknote, quantity from eur where banknote = #{banknote}
    </select>
	
	<select id="getQuantityEUR" resultMap="eur">
        select quantity from eur where quantity = #{quantity}
    </select>
	
	<select id="getAvailableBanknoteEUR" resultMap="eur">
        select banknote from eur where quantity = #{quantity}
    </select>

   	</mapper>