<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.IUsersDAO">
    <resultMap id="users" type="com.solvd.model.Users">
        <id property="id_user" column="id_user"/>
        <result property="login" column="login"/>
        <result property="total_ammount" column="total_ammount"/>

    </resultMap>
    <select id="getUsersByLogin" resultMap="users">
        select login from Users where login = #{login}
    </select>

    <select id="getUsersAmount" resultMap="users">
        select login, total_amount from Users where login = #{login}
    </select>

    <update id="updateAmount" parameterType="com.solvd.model.Users">
        update Users
        set total_amount = #{total_amount}
        where login = #{login}
    </update>
</mapper>